.courses {
  &__container {
  }
  &__header {
    display: flex;
    justify-content: space-between;
    color: #06283d;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(6, 40, 61, 0.1);
    margin-bottom: 50px;
    h2 {
      font-family: Montserrat;
      font-size: 34px;
      font-weight: 700;
      line-height: 25px;
    }
  }
  &__search {
    width: 306px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: #ffffff;
    border: 1px solid #e8e5e5;
    border-radius: 20px;
    input {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      margin-left: 10px;
      border: none;
      outline: none;
      font-family: Montserrat;
      color: #06283d;
      font-weight: 500;
      &::placeholder {
        color: #e8e5e5;
        font-weight: 400;
      }
    }
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 40px;
    justify-content: center;
    @media (max-width: 1025px) {
      gap: 12px;
    }
  }
  &__item {
    width: 400px;
    padding: 30px 18px 30px 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    margin-bottom: 50px;
    background: #fff;
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    @media (max-width: 1025px) {
      width: 500px;
    }
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
   
  }
  &__btn-info {
    padding: 15px 30px;
    background-image: linear-gradient(
      320deg,
      hsl(39deg 100% 50%) 0%,
      hsl(36deg 100% 50%) 11%,
      hsl(34deg 100% 50%) 22%,
      hsl(31deg 100% 50%) 33%,
      hsl(28deg 100% 50%) 44%,
      hsl(25deg 100% 50%) 56%,
      hsl(21deg 100% 50%) 67%,
      hsl(17deg 100% 50%) 78%,
      hsl(11deg 100% 51%) 89%,
      hsl(0deg 100% 53%) 100%
    );
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
  }
  &__btn-buy {
    padding: 15px 20px;
    background-image: linear-gradient(
      320deg,
      hsl(181deg 97% 49%) 0%,
      hsl(186deg 100% 48%) 11%,
      hsl(190deg 100% 47%) 22%,
      hsl(195deg 100% 46%) 33%,
      hsl(199deg 100% 44%) 44%,
      hsl(204deg 100% 42%) 56%,
      hsl(208deg 100% 39%) 67%,
      hsl(213deg 100% 35%) 78%,
      hsl(219deg 100% 31%) 89%,
      hsl(227deg 100% 26%) 100%
    );
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
  }
  &__content {
    max-width: 220px;
    @media (max-width: 1025px) {
      max-width: 300px;
    }
  }
  &__name {
    font-size: 22px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 22px;
  }
  &__desc {
  }
  &__price {
    color: orange;
    font-weight: 700;
    margin-top: 20px;
    font-size: 18px;
  }
  &__img {
    width: 140px;
    max-height: 140px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
